.icon-row {
  display: flex;
  justify-content: space-between;
}

.icon-row__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-row__icon span {
  text-align: center;
}

.icon-row__icon i {
  font-size: 35px;
}

.icon-row__icon span {
  margin-top: 18px;
}

.find-cog__icon {
  position: relative;
}

.find-icon__dot {
  background-color: tomato;
  width: 4.4px;
  height: 4.4px;
  display: flex;
  border-radius: 2.2px;
  position: absolute;
  right: -5px;
  bottom: 20px;
}
